@font-face {
  font-family: Berger;
  src: url(fonts/BergenText-Regular.otf) format("opentype");
}

@font-face {
  font-family: Berger-Bold;
  src: url(fonts/BergenText-Bold.otf) format("opentype");
}

@font-face {
  font-family: Arsenal;
  src: url(fonts/Arsenal-Regular.ttf) format("truetype"),
  url(fonts/Arsenal-Regular.woff) format("woff");
}

@font-face {
  font-family: Arsenal-Bold;
  src: url(fonts/Arsenal-Bold.ttf) format("truetype"),
  url(fonts/Arsenal-Bold.woff) format("woff");
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-size: 14px;
  height: 100%;
  font-family: Berger, sans-serif;
}

body {
  padding: 20px 30px;
  margin: 0;
  background: url(images/background.jpg) repeat-y center / cover;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 1000px;
}

body > header {
  height: 50px;
  margin: 0 auto;
}

h1 {
  font: 42px Berger-Bold;
  text-transform: uppercase;
  margin: 10px 0 0;
}

h2 {
  color: #a2d0a4;
  margin: 85px 0 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-left: 10px;
  font: 12px Arsenal-Bold;
}

h3 {
  font: 32px Berger-Bold;
  margin: 50px auto 20px;
  text-transform: uppercase;
}

hr {
  width: 370px;
  margin: 40px auto;
}

main {
  text-align: center;
  color: white;
}

#burger {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burger svg {
  width: 28px;
  height: 28px;
}

#logo {
  font: 1rem Berger;
  display: flex;
  align-items: center;
  width: 52%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#logo svg {
  min-width: 50px;
  width: 50px;
  height: 47px;
}

#location {
  display: flex;
  font: 16px Arsenal-Bold;
  width: 33%;
  align-self: center;
}

#location svg {
  min-width: 20px;
}

#location span {
  margin-left: 6px;
  line-height: 20px;
  border-bottom: 1px dashed #838283;
}

#contact {
  width: 33%;
}

#contact div {
  font: 12px Berger-Bold;
}

#contact a {
  font: 13px Arsenal;
  color: #e0ebe0;
}

header .icon {
  width: 34px;
  min-width: 34px;
  height: 33px;
  margin: 10px;
  text-align: center;
  border: 2px solid white;
}

#vk {
  padding: 5px 4px 4px;
}

#vk svg {
  width: 20px;
  height: 22px;
}

#fb {
  padding: 5px 9px;
}

#fb svg {
  width: 12px;
  height: 19px;
}

#info {
  font: 18px Arsenal;
  line-height: 1.625;
  margin: 0 auto;
  color: #e2e8e2;
  max-width: 1000px;
  text-align: justify;
}

.buttons {
  margin: 20px auto;
}

.buttons div,
.buttons button {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.buttons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-btn {
  width: 470px;
  height: 68px;
  padding: 4px;
  border-radius: 38px;
}

.small-btn {
  position: relative;
  width: 200px;
  height: 44px;
  color: white;
  padding: 3px;
  border-radius: 30px;
  margin-left: -50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: 15px Arsenal-Bold;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  color: white;
}

.big-btn .icon {
  width: 60px;
  height: 60px;
  margin-right: 22px;
}

.big-btn span {
  font-family: Arsenal-Bold;
}

.big-btn svg {
  width: 27px;
  height: 27px;
}

.small-btn svg {
  width: 16px;
  height: 16px;
}

.small-btn .icon {
  width: 38px;
  height: 38px;
  background: rgba(0, 0, 0, .2);
  margin-right: 15px;
}

#data-info .big-btn {
  background: white;
  color: black;
  font: 22px Arsenal;
}

#data-info .small-btn,
#data-info .big-btn .icon {
  background: #43A047;
}

#data-info .small-btn .icon {
  background: rgba(0, 0, 0, .2);
}

#location-info .big-btn {
  background: rgba(0, 0, 0, .7);
  color: white;
}

#location-info .small-btn,
#location-info .big-btn .icon {
  background: #333333;
}

#location-info .small-btn .icon {
  background: rgba(0, 0, 0, .3);
  padding: 10px 10px 11px 11px;
}

#location-info p {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  font: 18px Arsenal;
}

@media only screen
and (max-device-width : 1080px)
and (max-device-height : 1920px) {
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 20px;
  }
}

@media only screen
and (max-device-height: 568px)
and (-webkit-device-pixel-ratio: 2) {
  body {
    background-image: url(images/background.gif);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 16px;
  }

  #info {
    font-size: 34px;
  }

  .big-btn {
    width: 65%;
    height: 88px;
    border-radius: 48px;
  }

  .small-btn {
    height: 64px;
    width: 30%;
    font-size: 25px;
  }

  .big-btn .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }

  .small-btn .icon {
    width: 58px;
    height: 58px;
    margin-right: 10px;
  }

  #data-info .big-btn {
    font-size: 29px;
  }

  .big-btn svg {
    width: 38px;
    height: 38px;
  }

  .small-btn svg {
    width: 26px;
    height: 26px;
  }

  #location-info p {
    font-size: 24px;
  }

  #logo {
    font-size: 18px;
  }

  #location {
    font-size: 20px;
  }

  #contact div {
    font-size: 16px;
  }

  #contact a {
    font-size: 15px;
  }
}

@media only screen
and (min-device-height: 568px)
and (max-device-height : 640px)
and (-webkit-device-pixel-ratio: 2),
only screen
and (min-device-height: 568px)
and (max-device-height : 640px)
and (-webkit-device-pixel-ratio: 3) {
  h1 {
    font-size: 76px;
  }

  h2 {
    font-size: 14px;
  }

  .big-btn {
    width: 600px;
    height: 98px;
    padding: 6px;
    border-radius: 68px;
  }

  .small-btn {
    height: 74px;
    width: 300px;
    font-size: 25px;
    border-radius: 54px;
    margin-left: -75px;
  }

  .big-btn .icon {
    width: 90px;
    height: 90px;
  }

  .small-btn .icon {
    width: 68px;
    height: 68px;
  }

  .small-btn svg {
    width: 30px;
    height: 30px;
  }

  .big-btn svg {
    width: 44px;
    height: 44px;
  }

  #data-info .big-btn {
    font-size: 28px;
  }

  .big-btn .icon {
    margin-right: 14px;
  }

  #location-info p {
    font-size: 25px;
  }

  #logo {
    font-size: 20px;
    width: 38%;
  }

  #logo svg {
    min-width: 90px;
    width: 90px;
    height: 76px;
  }

  #info {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 70px;
  }

  #location {
    font-size: 24px;
  }

  #contact div {
    font: 20px Berger;
  }

  #contact a {
    font-size: 18px;
  }

  header .icon {
    width: 44px;
    min-width: 44px;
    height: 43px;
  }

  #vk svg {
    width: 26px;
    height: 29px;
  }

  #fb svg {
    width: 14px;
    height: 26px;
  }
}

@media only screen
and (max-height : 640px) {
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 20px;
  }
}